{% extends 'base.html' %} 


{% block content %} 
<h1>SVP, completez ce formulaire :</h1>
<form
  action="http://192.168.1.17:5000/result"
  method="POST"
  id="BookPackageForm "
>
  <div class="form">
    <label class="textfields">
      écrivez votre platforme des conférences des études à distance :
      <input
        name="favplatformis"
        id="platform"
        type="text"
        placeholder="écrivez ici ..."
        value=""
        required
      />
    </label>
    <hr />
    <label class="textfields">
      écrivez Votre matière préférée quand tu as été jeune :
      <input
        name="favsubject"
        id="b"
        type="text"
        placeholder="écrivez ici ..."
        required
      />
    </label>
    <hr />

    <label class="textfields">
      écrivez Votre plat préférée :
      <input
        name="favdish"
        id="c"
        type="text"
        placeholder="écrivez ici ..."
        required
      />
    </label>
    <hr />

    <label class="textfields">
      écrivez votre couleur préférée :
      <input
        name="favcolor"
        id="d"
        type="text"
        placeholder="écrivez ici ..."
        required
      />
    </label>
    <hr />

    <label class="textfields">
      écrivez Votre équipe de football préférée :
      <input
        name="favfootteam"
        id="e"
        type="text"
        placeholder="écrivez ici ..."
        required
      />
    </label>
    <hr />
    <label class="textfields">
      écrivez votre émission de télé préférée :
      <input
        name="favshow"
        id="f"
        type="text"
        placeholder="écrivez ici ..."
        required
      />
    </label>
    <br />
  </div>
  <button class="button" type="submit">Envoyez !</button>
  <p class="getintouch">
    <a
      href="https://www.facebook.com/profile.php?id=100005547197543"
      target="_blank"
      >Contactez le développeur !</a
    >
  </p>
</form>
{% endblock %}
