<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />

    <link
      rel="shortcut icon"
      href="https://image.flaticon.com/icons/png/512/104/104090.png"
      type="image/x-icon"
    />
    <script src="app.js"></script>
    <title>Formulaire</title>
  </head>
  <body>
    <div>{% block content %}this is not the content, this needs to be changed !{% endblock %}</div>
    <h1 style="position: fixed"> fsmade with love by josef</h1>
  </body>
</html>
